* {
  box-sizing: border-box;
  font-family: Open Sans; 
  margin: 0;
  padding: 0;
}

.main-header {
  background-color: #1F1F3D;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 7px;
}

header h1 {
  color: #F4F7F8;
}

#h1-yellow-text {
  color: #FEC40E;
}

main {
  display: flex;
  flex-direction: row;
  min-height: 100vw;
}

.search-form {
  display: flex;
  height: 100%;
  z-index: 4;
}

.search-img {
  background: #C7D3D8;
  border: none;
  height: 46px;
  padding: 9px;
}

.column-1 {
  background-color: #587A8B;
  flex: 1;
  padding: 10px;
}

.column-2 {
  column-width: 20em; 
  flex: 2;
  padding: 30px;
}

.text-input {
  border: 2px solid #1F1F3D;
  height: 45px;
}

.search-input {
  border: none;
  height: 100%;
  width: 300px;
}

.task-title-section {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.make-task-section {
  display: flex;
  flex-direction: column;
}

.column-1-buttons {
  background-color: #1F1F3D;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 20px;
  height: 45px;
  margin: 10px 0;
  width: 100%;
}

.column-1 button:disabled {
  background-color: #3C6577;
}

.filter-urgency-button-active {
  background-color: #EF4A23;
}

.make-task-section .text-input{
  margin-bottom: 15px;
}

.make-task-section {
  border-bottom: 2px solid #1F1F3D;
  margin-bottom: 20px;
}

.add-task-item-button {
  background-color: #1F1F3D;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  height: 45px;
  width: 45px;
}

.make-task-input-button {
  display: flex;
}

.task-item-input {
  width: 100%;
}

.clear-all-button {
  margin-bottom: 30px;
}

.make-task-form label {
  color: #C7D3D8;
  margin-bottom: 5px;
}

.uncommited-task-line {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-left: 25px;
}

.uncommited-task-items {
  align-self: center;
  color: #FFFFFF;
  font-size: 18px;
}

.uncommited-task-button {
  border-radius: 50%;
  font-size: 20px;
  height: 25px;
  margin-right: 20px;
  width: 25px;
}

.delete-image {
  align-self: baseline;
  height: 22px;
  margin-right: 15px;
}

.card {
  background-color: #FAFDFF;
  border: solid 2px #C7D3D8;
  box-sizing: border-box;
  display: inline-block;
  height: auto;
  margin:  0.25rem;
  padding: 5px;
  width:  100%; 
}

.card-header,
.card-footer{
  margin-bottom: 5px;
  min-height: 20px;
}

.card-header {
  font-size: 20px;
  font-weight: bold;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.card-urgent-img,
.delete-card-img {
  height: 20px;
}

.card-tasks {
  border-bottom: solid 2px #C7D3D8;
  border-top: solid 2px #C7D3D8;
  font-size: 18px;
  list-style-type: none;
  margin: 10px 0;
  padding: 10px 0;
}

.card-tasks input {
  display: none;
  height: 10px;
}

.card-tasks input + label:before {
  background: url(images/checkbox.svg) no-repeat 0 0;
  content: '';
  display: inline-block;
  height: 18px;
  margin-right: 10px;
  width: 18px;
}

.card-tasks input:checked + label:before {
  background: url(images/checkbox-active.svg) no-repeat 0 0;
}

.card-tasks input:checked + label {
  color: #3C6577;
}

.card-footer-sides {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  justify-content: center;
}

.urgent-yellow {
  background-color: #FFE89D;
  border: solid 2px #FFC30C;
}

.urgent-card-text {
  color: #B23A25;
}
.urgent-yellow-borders {
  border-bottom: solid 2px #FFC30C;
  border-top: solid 2px #FFC30C;
}

@media only screen and (max-width: 900px){

main{
  display: block;
}
.column-1 {
  padding: 20px;
}
}

@media only screen and (max-width: 650px){

main{
  display: block;
}
.main-header {
  display: flex;
  justify-content: space-between;
}

.column-1 {
  padding: 10px;
}

.column-2 {
  box-sizing: border-box;
  padding: 0 10px 10px 10px;
}

.search-input  {
  display: none;
}

.search-input-display {
  box-sizing: content-box;
  display: inline;
  height: 250px; 
  left: 0;
  margin: 0;
  padding: 0 5px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.search-img {
  margin-right: 5px;
  width: 50px;
  z-index: 2;
}

.card {
  display: block;
  margin: 10px 0 0 0;
  width: 100%;
}

}


